[Unit]
Description=Prometheus Borg Exporter {{ prometheus_borg_repo_name }}
After=network-online.target

[Service]
Environment=BORG_RELOCATED_REPO_ACCESS_IS_OK=yes
{% if prometheus_borg_passphrase is not none %}
Environment=BORG_PASSPHRASE={{ prometheus_borg_passphrase }}
{% else %}
Environment=BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes
{% endif %}
ExecStart={{ prometheus_borg_exporter }} -r {{ prometheus_borg_repo }} -n {{ prometheus_borg_repo_name }} -l 5
Type=oneshot
